@import url("../../css/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PRegular', sans-serif;
}

/* ======- BODY -====== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#1E2022, #52616B);
}

/* --------------------- NEW LOGIN ------------------- */

.wrapper {
    width: 390px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title-text .title {
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #555;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    ;
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin: 10px 0;
}

.form-inner form .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.forgot-link{
    color: #314649;
    margin: 10px 10px;
    font-size: small;
}

.forgot-link:hover{
    color: #5f9197;
}

.form-inner form .field input:focus {
    border-color: #68abb7;
}

.form-inner form .pass-link a,
a {
    color: #292929;
    text-decoration: none;
}

.show-pass{
    display: flex;
    align-items: center;
    font-size: small;

    label{
        user-select: none;
        cursor: pointer;
    }

    input{
        margin: 0 10px 0 5px;
        cursor: pointer;
    }
}

.form-inner form .signup-link {
    color: #212121;
    text-align: center;
    margin-top: 30px;
}

.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .field input[type="submit"] {
    background: -webkit-linear-gradient(left, #68abb7, #337a95);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    border: none;
    cursor: pointer;
}